.rootLayout {
    padding: 16px 64px; /* padding top-bottom left-right*/
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 8px;
        /* gap between image and title */
  
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  
    main {
      flex: 1;
      overflow: hidden;
    }
  }